:root{
    --font: 'Roboto Mono', monospace;
    --color: rgb(2, 2, 153);
    --color2: rgb(197, 198, 235);
    
}
header{
   
    display:flex;
    flex-direction: row;
   
    
    
    padding:10px;
   
    gap: 100px;


}
#toggle-theme{
    align-self: flex-end;
   
}

body{
    background-color: white;
    color: black;
  padding:0;
  margin:0;

}
body.dark{
    background-color: black;
    color:white;
}
main{
   
    margin: 190px;
}
footer{
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
    
   
    font-family: Arial, Helvetica, sans-serif;
    
    

}
.links{
   display: flex;
   flex-direction: row;
 
   font-size: 1.1em;
   
    font-family: Arial;
   
    gap: 30px;
    
}
.links a{
    text-decoration: none;
    
   
}
.logo{
   
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
   
    font-weight: 900;
    font-size: 1.5em;
    
  
}
.logo:hover{
    
    width: fit-content;
    text-decoration: underline;
}
.links :hover{
   
    color:gray;
     
    
}



.container-flex{
    
    
    display: flex;
    justify-content:center;
}
form a{
    
    font-weight: 600;
    
}

form{
               
    display: flex;
    flex-direction: column;
     
    width: 350px;
    padding: 40px;
    border:1px solid;
  
   
    
}
label{
    
   
    
    font-family: var(--font);
    padding: 1px;

    
  
  

}
input{
    padding:10px;
    
    
   border: 1px silver;
    
    border-radius: 4px;
   
}
input:focus{
    
   
    outline: none;
    box-shadow: 0 0 3px black;
   
   

   
}
input:focus:invalid{
   
    border: 1px solid rgba(255,0,0);
    box-shadow: 0 0 3px rgba(255,0,0)
    
}
.submit{
align-self: flex-end;
width: 100px;
padding: 10px;

box-shadow:0 0 4px gray;
border:1px solid black;

border-radius: 5px;
font-family: var(--font);
color: black;
font-weight: 600;
font-size: medium;

}
#checkbox{
    box-shadow: 0 0 2px black;
}
button:hover{
    opacity: 0.8;
    box-shadow:0 0 3px black;
    
}
::placeholder{
    color:gray;
}

